<div class="employee" *ngIf="employeeDetailsOption">
    <div class="flex items-center mb-4 mt-10 w-full max-w-3xl px-4">
        <i class="fas fa-search text-gray-400 cursor-pointer mr-4"></i>
        <input type="text"
            class="w-full sm:min-w-[200px] md:min-w-[300px] lg:min-w-[400px] xl:min-w-[550px] rounded-md border border-gray-300 pl-5 py-4 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-transparent"
            placeholder="Search Employees by Name, Role, ID or any other related keywords ...">
    </div>
    <p class="mb-2 font-bold text-gray-500">Department Name</p>

    <div class="relative inline-block w-full max-w-sm">
        <button
            class="w-full rounded-md border border-gray-300 shadow-sm px-3 py-4 text-left focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label" (click)="toggleDropdown()">
            <span class="block truncate text-gray-700">{{ selectedOption }}</span>
            <span class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
                <svg width="50px" height="50px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#545454">
                    <g id="SVGRepo_bgCarrier" stroke-width="0" />
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
                    <g id="SVGRepo_iconCarrier">
                        <rect x="0" fill="none" width="24" height="24" />
                        <g>
                            <path d="M7 10l5 5 5-5" />
                        </g>
                    </g>
                </svg>
            </span>
        </button>

        <ul class="absolute z-10 mt-1 w-full bg-white shadow-lg max-h-60 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm"
            tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3"
            *ngIf="isDropdownOpen">
            <li *ngFor="let option of options"
                class="text-gray-700 cursor-default select-none relative py-2 pl-3 pr-9 hover:bg-gray-100"
                id="listbox-option-0" role="option" (click)="selectOption(option)">
                <span class="block truncate">{{ option }}</span>
                <span *ngIf="option === selectedOption"
                    class="absolute inset-y-0 right-0 flex items-center pr-4 text-indigo-900">
                    <svg class="mt-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90" width="50px" height="50px"
                        baseProfile="basic">
                        <polygon fill="#44b356" points="15,40.011 2,17.496 12,11.718 20,25.578 43,12.298 48,20.964" />
                        <polygon fill="#61ff7b" points="44,23.272 39,14.608 16,27.887 8,14.03 2,17.494 15,40.015" />
                    </svg>
                </span>
            </li>
        </ul>
    </div>



    <div class="relative overflow-x-auto mt-10">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-900">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-pink-200 dark:text-gray-900">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Department
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Role
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Status
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b dark:border-gray-200">
                    <th scope="row"
                        class=" flex items-center px-3 py-4 font-medium text-gray-600 whitespace-nowrap dark:text-gray-700">
                        <img class="mr-3 rounded-full h-[50px] w-[50px]"
                            src="../../../../assets/rainbow-inside-office-showing-corporate-diversity-inclusiveness-business_1061358-17230.avif"
                            alt="profile">
                        <div class="flex flex-col">
                            Apple MacBook Pro 17"
                            <span class="text-gray-400">Apple@gmail.com</span>
                        </div>
                    </th>
                    <td class="px-6 py-4">
                        Silver
                    </td>
                    <td class="px-6 py-4">
                        Laptop
                    </td>
                    <td class="px-6 py-4">
                        $2999
                    </td>
                    <td class="px-6 py-4 relative">
                        <div class="inline-block">
                            <button (click)="toggleMenu()"
                                class="inline-flex justify-center w-full rounded-md border border-white shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none">
                                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 13a1.5 1.5 0 110 3 1.5 1.5 0 010-3z" />
                                </svg>
                            </button>
                        </div>
                        <div *ngIf="menuOpen"
                            class="menu w-20 absolute right-20 bottom-5 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
                            <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                                <a href="#"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:text-white hover:bg-gray-900"
                                    role="menuitem">Edit</a>
                                <a href="#"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:text-white hover:bg-gray-900"
                                    role="menuitem">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>