<div class="grid grid-cols-1 gap-4">
    <form *ngFor="let item of allPermissions" class="example-form" #form="ngForm">
        <div class="flex items-center space-x-4">
            <mat-slide-toggle [(ngModel)]="item.enabled" (change)="togglePermission(item.permissonsId,$event.checked)"
                labelPosition="before" ngModel color="cyan" [name]="'enableWifi'+ item.id">
                <span class="text-sm font-medium">{{ item.permission.name }}</span>
            </mat-slide-toggle>
        </div>
    </form>
</div>