<p>Slide Toggle using a simple NgModel.</p>

<p>Slide Toggle inside of a Template-driven form</p>
<mat-slide-toggle [(ngModel)]="isChecked">Slide Toggle Checked: {{isChecked}}</mat-slide-toggle>


<form *ngFor="let item of allPermissions" class="example-form" #form="ngForm" (ngSubmit)="alertFormValues(form.form)">
    <mat-slide-toggle [checked]="" (change)="togglePermission(item.id,$event.checked)" labelPosition="before" ngModel
        color="cyan" name="enableWifi">{{item.name}}</mat-slide-toggle>
</form>