<h1 class="sm:ms-5-ms-10 text-5xl font-roboto ">Departments</h1>
<div class="sm:ms-5 relative -ms-10">
    <div class="options flex items-center mt-12 max-w-[300px] justify-between">
        <div class="flex flex-col items-center">
            <p role="button" (click)="pageSelection('adding')">Add Departments</p>
            <div class="lines w-full h-[2px] bg-blue-600" *ngIf="addDepartmentPage"></div>
        </div>
        <div class="flex flex-col items-center" (click)="pageSelection('manange')">
            <p role="button">Manage Department</p>
            <div class="lines w-full h-[2px] bg-blue-600" *ngIf="manageDepartmentPage"></div>
        </div>
    </div>
    <div class="add-department  mt-10" *ngIf="addDepartmentPage">
        <h1 class="font-normal text-gray-500 text-3xl">Add Department</h1>
        <div class="adding ml-9 mt-5 relative">
            <p class="font-medium">Department Name</p>
            <form action="" #addDepartmentForm="ngForm">
                <input type="text" ngModel name="name" #name="ngModel"
                    class="w-full rounded-md border border-gray-400 px-3 py-3 focus:outline-none focus:ring-1 focus:ring-blue-500">
            </form>
            <button type="submit" (click)="addDepartment()"
                class="absolute right-0 top-28 bg-blue-500 text-white py-2 px-6 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                Submit
            </button>

        </div>
    </div>

    <div *ngIf="manageDepartmentPage" class="mt-10">
        <app-manage-department></app-manage-department>
    </div>
</div>