<h1 class="text-4xl font-semibold text-gray-400 leading-tight">
    {{projectHead}}
</h1>
<div class="h-[570px] rounded-lg w-full bg-gray-100 px-4">
    <div class="w-full h-full flex items-center justify-center px-5 py-5">
        <div *ngFor="let item of projectData"
            class="h-[350px] xs:bg-green-500 xs:mt-5 md:me-3 rounded-2xl md:bg-gray-200 sm:mt-5 sm:bg-blue-500 w-[500px]    bg-white hover">
            <div class="pt-6 px-12 pb-6 flex flex-col items-start">
                <h1 class="text-2xl font-semibold text-gray-600 ">{{item.name}}</h1>
                <div class="h-[60px] overflow-hidden">
                    <p class="mt-3 text-xl font-medium text-black">{{item.description}}</p>
                </div>
                <p class="mt-4 font-medium text-gray-700">{{item.tasks.length}} Tasks</p>

                <p class="mt-3 font-medium" [ngClass]="{
                    'text-red-800': item.status === 'Not Started',
                    'text-yellow-600': item.status === 'In Progress',
                    'text-green-600': item.status === 'Completed',
                    'font-bold': item.progress > 50,
                    'italic': item.progress <= 50}">{{item.status}}</p>
            </div>
            <div class="w-full h-[2px] bg-gray-100"></div>
            <div class="ps-12 pt-4 pe-12">
                <div class="flex w-full items-center justify-between">
                    <p class="text-xl">Progress</p>
                    <p class="text-xl text-gray-400">{{item.progress}}%</p>
                </div>
                <div class="mt-5">
                    <mat-card-content>
                        <section class="example-section">
                            <mat-progress-bar class="example-margin" [mode]="mode" [value]="item.progress"
                                [bufferValue]="bufferValue">
                            </mat-progress-bar>
                        </section>
                    </mat-card-content>
                </div>
            </div>
        </div>

    </div>
</div>