<div class="min-w-[670px] px-7 py-7 text-center">
  <h1 *ngIf="selectedTeam" class="font-normal text-gray-500 text-3xl mt-10">Add Members To {{selectedTeam.name}}</h1>
  <table class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-gray-900 mt-[75px]">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-pink-200 dark:text-gray-900">
      <tr>
        <th scope="col" class="px-6 py-3">
          #
        </th>
        <th scope="col" class="px-6 py-3">
          Name
        </th>
        <th scope="col" class="px-6 py-3">
          Department
        </th>
        <th scope="col" class="px-6 py-3">
          Role
        </th>
        <th scope="col" class="px-6 py-3">
          Action
        </th>
      </tr>
    </thead>
    <tbody [@listAnim]="allEmployees.length">
      <tr class="bg-white border-b dark:border-gray-200" *ngFor="let employee of allEmployees, let i = index">
        <td class="px-6 items-center py-4">
          <img class="mr-3 rounded-full h-[50px] w-[50px] object-cover" src="{{employee.image}}" alt="profile">
        </td>
        <td class="px-6 py-4">
          {{employee.fullname}}
        </td>
        <td class="px-6 py-4">
          {{employee.department.name}}
        </td>
        <td class="px-6 py-4">
          {{employee.role}}
        </td>
        <td class=" w-[200px]">
          <!-- *ngIf="selectedEmployees.includes(employee.id)" -->
          <div class="flex items-center justify-center">
            <button *ngIf="!isEmployeeInTeam(employee.id)" (click)="addToTeam(employee.id)"
              class="mr-4 buttons bg-blue-500 text-white py-2 px-10 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 hover:bg-blue-600">
              Add
            </button>
            <button *ngIf="isEmployeeInTeam(employee.id)" (click)="deleteFromTeam(employee.id)"
              class="mr-4 buttons bg-red-500 text-white py-2 px-10 rounded-md focus:outline-none focus:ring-2 focus:ring-red-600 hover:bg-red-600">
              Remove
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>