<main class="h-full flex items-center justify-center">
    <div class="main bg-gray-200">
        <div class="top mt-20 ms-20">
            <h1 class=" text-4xl">Choose your Plan</h1>
            <p class="text-gray-400">Get the right plan for your business. Plans can be <br>
                upgraded in the future.</p>
        </div>
        <div class="plans ms-20 mt-16 flex justify-around">
            <div class="plan1 bg-white h-80 rounded-3xl w-64 flex flex-col items-center">
                <h1 class="mt-5">✔️Basic Plan</h1>
                <p class="mt-8 text-4xl text-center">$4.99 <small class="text-gray-400 text-sm -ms-2">/Month</small></p>
                <div class="points w-40 ">
                    <p class="text-start mt-5 font-medium"><small>✨ Monthly Installments</small></p>
                    <p class="text-start mt-5 font-medium"><small>✨ Get full Accessibility</small></p>
                    <p class="text-start mt-5 font-medium"><small>✨ Permanent Membership</small></p>    
                </div>
                
            </div>
            <!-- <div class="plan2">2</div>
            <div class="plan3">3</div> -->
        </div>
    </div>
</main>