<div class="w-[200px] h-[400px] flex justify-center bg-yellow-300 overflow-scroll-x rounded-[28px]">
  <h3>In Progress</h3>
  <div cdkDropListGroup class="flex flex-col">
    <div class="flex flex-col" cdkDropList [cdkDropListData]="inProgress" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let task of inProgress" cdkDrag class="h-[100px] w-[190px] rounded-[20px] bg-white mt-[20px] ">
        <p class="text-[15px] ml-[6px]">{{task.title}}</p>
        <p class="text-[13px] ml-[6px]">{{task.dueDate}}</p>
      </div>
    </div>
  </div>
</div>