<div class="relative bg-gray-100 mt-3 main p-5 w-full h-[500px]">
    <h1 class="pt-4 text-xl font-bold from-neutral-500">PAYROLL</h1>

    <form class="example-form">
        <mat-form-field class="w-[500px]">
            <mat-label>Choose Department Name</mat-label>
            <mat-select name="selectedDepartment" [(ngModel)]="selectedDepartment" [disabled]="disableSelect.value">
                <mat-option *ngFor="let item of dropDownOptions" [value]="item.name">{{item.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <div class="container mx-auto">
        <h1 class="text-2xl font-bold mb-4">Staffs</h1>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border border-gray-200 shadow-md rounded-lg">
                <thead>
                    <tr class="bg-gray-800 text-white">
                        <th class="py-2 px-4 text-left">#</th>
                        <th class="py-2 px-4 text-left">Staff</th>
                        <th class="py-2 px-4 text-left">Department</th>
                        <th class="py-2 px-4 text-left">Base Salary</th>
                        <th class="py-2 px-4 text-left">Deduction</th>
                        <th class="py-2 px-4 text-left">Net Pay</th>
                        <th class="py-2 px-4 text-left"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-b" *ngFor="let item of filterEmployee(),let i = index">
                        <td class="py-2 px-4">{{i+1}}</td>
                        <td class="py-2 px-4">{{item.fullname}}</td>
                        <td class="py-2 px-4">{{item.department.name}}</td>
                        <td class="py-2 px-4">{{item.salary | currency:'INR'}}</td>
                        <td class="py-2 px-4">{{item.deduction | currency:'INR'}}</td>
                        <td class="py-2 px-4">{{item.salary - item.deduction| currency:'INR' }}</td>
                        <td class="py-2 px-4">
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-sm">
                                Generate
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <mat-paginator [length]="totalEmployees" [pageSize]="currentPage" [pageSizeOptions]="[5, 10, 15]"
                aria-label="Select page" (page)="onPageChange($event)">
            </mat-paginator>
        </div>
    </div>
</div>
