<div class="main rounded-lg bg-gray-100 w-full h-full shadow-lg shadow-indigo-500/40 ...">
    <h1 class="pl-5 pt-4 text-xl font-bold from-neutral-500">PAYROLL</h1>
    <div class="relative overflow-x-auto mt-5">
        <table class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-gray-900">
            <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:text-gray-900">
                <tr class="border-b dark:border-gray-900">
                    <th scope="col" class="px-6 py-3">
                        Staff
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Basic Salary
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Deduction
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Total
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-gray-100 border-b dark:border-gray-200">
                    <th scope="row"
                        class="flex items-center px-3 py-2 font-semibold text-gray-600 whitespace-nowrap dark:text-gray-700">
                        <img class="mr-3 rounded-full h-[50px] w-[50px]"
                            src="../../../../assets/rainbow-inside-office-showing-corporate-diversity-inclusiveness-business_1061358-17230.avif"
                            alt="profile">
                        <div class="flex flex-col">
                            Abinav
                        </div>
                    </th>
                    <td class="px-6 py-4">
                        60000
                    </td>
                    <td class="px-6 py-4">
                        2000
                    </td>
                    <td class="px-6 py-4">
                        68000
                    </td>
                    <td class="px-6 py-4 max-w-20">
                        <div class="btns flex items-center justify-around">
                            <button
                                class="buttons bg-green-500 text-white py-2 px-3 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300">
                                Approve
                            </button>
                            <button
                                class="buttons bg-red-500 text-white py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-700">
                                Reject
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>