<div class="w-[200px] h-[400px] flex justify-center bg-yellow-300 overflow-scroll-x rounded-[28px]">
  <div class="flex justify-center flex-col">
    <div class="h-[100px] w-[190px] rounded-[20px] bg-white mt-[20px] ">
      <p class="text-[15px] ml-[6px]">Employees can Update Task</p>
      <p class="text-[13px] ml-[6px]">Jan 20 2023</p>
    </div>
    <div class="h-[100px] w-[190px] rounded-[20px] bg-white mt-[20px] ">
      <p class="text-[15px] ml-[6px]">Employees can Update Task</p>
      <p class="text-[13px] ml-[6px]">Jan 20 2023</p>
    </div>
    <div class="h-[100px] w-[190px] rounded-[20px] bg-white mt-[20px] ">
      <p class="text-[15px] ml-[6px]">Employees can Update Task</p>
      <p class="text-[13px] ml-[6px]">Jan 20 2023</p>
    </div>
  </div>
</div>